<!-- Begin: Content -->
<section id="content" class="table-layout animated fadeIn">

  <!-- begin: .tray-center -->
  <div class="tray tray-center" >

    <div class="mw1000 center-block">

      <!-- Store Owner Details -->
      <div class="panel panel-success panel-border top mt20 mb35">
        <div class="panel-heading">
          <span class="panel-title">Informations Gérant  </span>
        </div>
        <div class="panel-body bg-light dark">
          <div class="admin-form">
            <div class="section row mb10">
              <label for="account-name" class="field-label col-md-3 text-center">Nom et Prénom:</label>
              <div class="col-md-9">
                <label for="account-name" class="field prepend-icon">
                  <input type="text" name="nom_prenom" id="account-name" readonly class="gui-input" value="OwnerAccountName">
                  <label for="account-name" class="field-icon">
                    <i class="fa fa-home"></i>
                  </label>
                </label>
              </div>
            </div>
            <div class="section row mb10">
              <label for="account-email" class="field-label col-md-3 text-center">Email:</label>
              <div class="col-md-9">
                <label for="account-email" class="field prepend-icon">
                  <input type="email" name="account-email" id="account-email" readonly class="gui-input" value="owner@store.com">
                  <label for="account-email" class="field-icon">
                    <i class="fa fa-envelope-o"></i>
                  </label>
                </label>
              </div>
            </div>
            <div class="section row mb10">
              <label for="account-phone" class="field-label col-md-3 text-center">Téléphone:</label>
              <div class="col-md-9">
                <label for="account-phone" class="field prepend-icon">
                  <input type="text" name="account-phone" id="account-phone" readonly class="gui-input" value="888-888-8888" placeholder="">
                  <label for="account-phone" class="field-icon">
                    <i class="fa fa-phone"></i>
                  </label>
                </label>
              </div>
            </div>
            <div class="section row mb10">
              <label  class="field-label col-md-3 text-center">Adresse:</label>
              <div class="col-md-9">
                <textarea   style="height: 160px;" class=" gui-textarea br-light bg-light" id="comment" name="comment" placeholder="" value="">xxxx
                </textarea>
              </div>

            </div>
          </div>
        </div>
      </div>

      <!-- Store Information -->
      <div class="panel panel-info panel-border top mb35">
        <div class="panel-heading">
          <span class="panel-title">Information Société </span>
        </div>
        <div class="panel-body bg-light dark">
          <div class="admin-form">
            <div class="section row mb10">
              <label for="business-name" class="field-label col-md-3 text-center">Nom:</label>
              <div class="col-md-9">
                <label for="business-name" class="field prepend-icon">
                  <input type="text" name="business-name" readonly id="business-name" class="gui-input" value="AdminDesigns">
                  <label for="business-name" class="field-icon">
                    <i class="fa fa-home"></i>
                  </label>
                </label>
              </div>
            </div>
            <div class="section row mb10">
              <label for="business-phone" class="field-label col-md-3 text-center">Téléphone:</label>
              <div class="col-md-9">
                <label for="business-phone" class="field prepend-icon">
                  <input type="text" readonly name="business-phone" id="business-phone" class="gui-input" value="888-888-8888">
                  <label for="business-phone" class="field-icon">
                    <i class="fa fa-phone"></i>
                  </label>
                </label>
              </div>
            </div>

            <div class="section row mb10">
              <label for="account-email" class="field-label col-md-3 text-center">Email:</label>
              <div class="col-md-9">
                <label for="account-email" class="field prepend-icon">
                  <input type="email" name="boutique-email" id="boutique-email" readonly class="gui-input" value="owner@store.com">
                  <label for="account-email" class="field-icon">
                    <i class="fa fa-envelope-o"></i>
                  </label>
                </label>
              </div>
            </div>

            <hr class="short alt">

            <div class="section">
              <label for="lastaddr" class="field prepend-icon">
                <textarea  name="lastaddr" id="lastaddr"  style="height: 160px;" class=" gui-textarea br-light bg-light"  placeholder="Street address 2" value="">xxxx
                </textarea>
                <label for="lastaddr" class="field-icon">
                  <i class="fa fa-map-marker"></i>
                </label>
              </label>
            </div>
            <!-- end section -->
          </div>
        </div>
      </div>

    </div>

  </div>
  <!-- end: .tray-center -->

  <!-- begin: .tray-right -->
  <aside class="tray tray-right tray290">

    <!-- menu quick links -->
    <div class="admin-form">

      <h4> Nouvelle Société</h4>

      <hr class="short">

      <h5><small>Nom</small></h5>
      <div class="section mb15">
        <label for="store-name" class="field prepend-icon">
          <input type="text" name="store-name" id="store-name" class="gui-input" value="My Online Store">
          <label for="store-name" class="field-icon">
            <i class="fa fa-home"></i>
          </label>
        </label>
      </div>
      <h5><small>Téléphone</small></h5>
      <div class="section mb15">
        <label for="store-phone" class="field prepend-icon">
          <input type="text" name="store-phone" id="store-phone" class="gui-input" value="My Online Store">
          <label for="store-phone" class="field-icon">
            <i class="fa fa-phone"></i>
          </label>
        </label>
      </div>
      <h5><small>Email</small></h5>
      <div class="section mb15">
        <label for="store-email" class="field prepend-icon">
          <input type="text" name="store-email" id="store-email" class="gui-input" value="My Online Store">
          <label for="store-email" class="field-icon">
            <i class="fa fa-envelope-o"></i>
          </label>
        </label>
      </div>
      <h5><small>Adresse</small></h5>
      <div class="section mb15">
        <label for="store-adresse" class="field prepend-icon">
          <textarea name="store-adresse" id="store-adresse" style="height: 160px;" class=" gui-textarea br-light bg-light"  placeholder="Street address 2" value="">xxxx
          </textarea>
          <label for="store-adresse" class="field-icon">
            <i class="fa fa-home"></i>
          </label>
        </label>
      </div>

      <h5><small>Application</small></h5>
      <div class="section mb15">
        <label for="store-adresse" class="field select">
          <select id="states" name="states">
            <option value="">Choose state</option>
            <option value="AL">Alabama</option>
          </select>
          <i class="arrow double"></i>
        </label>
      </div>
      <hr class="short alt br-light">

      <h5><small>Logo</small></h5>
      <div class="fileupload fileupload-new" data-provides="fileupload">
        <div class="fileupload-preview thumbnail mb20">
          <img data-src="holder.js/100%x120" alt="holder">
        </div>
        <span class="btn btn-default light btn-file btn-block ph5">
          <span class="fileupload-new">Change</span>
          <span class="fileupload-exists">Change</span>
          <input type="file">
        </span>
      </div>


      <h5><small>Logo Facture</small></h5>
      <div class="fileupload fileupload-new" data-provides="fileupload">
        <div class="fileupload-preview thumbnail mb20">
          <img data-src="holder.js/100%x120" alt="holder">
        </div>
        <span class="btn btn-default light btn-file btn-block ph5">
          <span class="fileupload-new">Change</span>
          <span class="fileupload-exists">Change</span>
          <input type="file">
        </span>
      </div>
      <h5><small></small></h5>
      <div class="section mb15">
        <label for="store-email" class="field prepend-icon">
          <input type="button"  class="button btn-primary btn-block" value="Enregistrer">

        </label>
      </div>
    </div>

  </aside>
  <!-- end: .tray-right -->

</section>
<!-- End: Content -->