<app-header [hidden]="env.isHiddenDashbord"></app-header>
<app-navbar [hidden]="env.isHiddenDashbord"></app-navbar>

<!-- Start: Content-Wrapper -->
<section id="content_wrapper" [hidden]="env.isHiddenDashbord" style="margin-top: 61px;">

    <!-- Start: Topbar-Dropdown -->
    <div id="topbar-dropmenu">
      <div class="topbar-menu row">
        <div class="col-xs-4 col-sm-2">
          <a href="#" class="metro-tile">
            <span class="metro-icon glyphicon glyphicon-inbox"></span>
            <p class="metro-title">Messages</p>
          </a>
        </div>
        <div class="col-xs-4 col-sm-2">
          <a href="#" class="metro-tile">
            <span class="metro-icon glyphicon glyphicon-user"></span>
            <p class="metro-title">Users</p>
          </a>
        </div>
        <div class="col-xs-4 col-sm-2">
          <a href="#" class="metro-tile">
            <span class="metro-icon glyphicon glyphicon-headphones"></span>
            <p class="metro-title">Support</p>
          </a>
        </div>
        <div class="col-xs-4 col-sm-2">
          <a href="#" class="metro-tile">
            <span class="metro-icon fa fa-gears"></span>
            <p class="metro-title">Settings</p>
          </a>
        </div>
        <div class="col-xs-4 col-sm-2">
          <a href="#" class="metro-tile">
            <span class="metro-icon glyphicon glyphicon-facetime-video"></span>
            <p class="metro-title">Videos</p>
          </a>
        </div>
        <div class="col-xs-4 col-sm-2">
          <a href="#" class="metro-tile">
            <span class="metro-icon glyphicon glyphicon-picture"></span>
            <p class="metro-title">Pictures</p>
          </a>
        </div>
      </div>
    </div>
    <!-- End: Topbar-Dropdown -->

    <!-- Start: Topbar -->
    <header id="topbar" class="ph10">
      <div class="topbar-left">
        <ul class="nav nav-list nav-list-topbar pull-left">
          <li class="active">
            <a href="#"  routerLink="/gescom/dashboard" routerLinkActive="active">Dashboard</a>
          </li>
          <li>
            <a href="ecommerce_products.html">Products</a>
          </li>
          <li>
            <a href="ecommerce_orders.html">Orders</a>
          </li>
          <li>
            <a href="ecommerce_customers.html">Customers</a>
          </li>
          <li>
            <a href="ecommerce_settings.html">Settings</a>
          </li>
        </ul>
      </div>
      <div class="topbar-right hidden-xs hidden-sm">
        <a href="ecommerce_orders.html" class="btn btn-default btn-sm light fw600 ml10">
          <span class="fa fa-plus pr5"></span> New Order</a>
        <a href="ecommerce_products.html" class="btn btn-default btn-sm light fw600 ml10">
          <span class="fa fa-plus pr5"></span> Add Product</a>
        <a href="ecommerce_customers.html" class="btn btn-default btn-sm light fw600 ml10">
          <span class="fa fa-user pr5"></span> Add Customer</a>
      </div>
    </header>
    <!-- End: Topbar -->

    <!-- Begin: Content -->
    <router-outlet></router-outlet>
    <!-- End: Content -->

  </section>





<app-athentification *ngIf="env.isHiddenDashbord"></app-athentification>


